{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Edit Product</title>
{% endblock meta %}

{% block content %}
{% include 'navbar.html' %}

<div class="flex flex-col min-h-screen bg-mainBackground">
  <div class="container mx-auto px-12 py-12 mt-16 max-w-xl">
    <h1 class="text-5xl text-center mb-8 font-recoleta">Edit Product</h1>

    <div class="bg-white rounded-lg p-8 shadow-md">
      <form method="POST" class="space-y-3">
        {% csrf_token %}
        {% for field in form %}
          <div class="flex flex-col">
            <label for="{{ field.id_for_label }}" class="mb-1 font-brown text-sm text-gray-700">
              {{ field.label }}
            </label>
            <div class="w-full">
              {% if field.name == 'description' %}
                <textarea 
                  name="{{ field.name }}" 
                  id="{{ field.id_for_label }}" 
                  class="appearance-none block w-full px-4 py-3 border border-gray-300 placeholder-gray-400 text-gray-900 font-brown focus:outline-none focus:ring-primary focus:border-primary focus:z-10 text-sm sm:text-lg"
                  placeholder="{{ field.label }}"
                  rows="4">{{ field.value|default:'' }}</textarea>
              {% else %}
                <input 
                  type="{% if field.name in 'name category' %}text{% else %}number{% endif %}" 
                  name="{{ field.name }}" 
                  id="{{ field.id_for_label }}" 
                  value="{{ field.value|default:'' }}" 
                  class="appearance-none block w-full px-4 py-3 border border-gray-300 placeholder-gray-400 text-gray-900 font-brown focus:outline-none focus:ring-primary focus:border-primary focus:z-10 text-sm sm:text-lg"
                  placeholder="{{ field.label }}"
                />
              {% endif %}
            </div>
            {% if field.help_text %}
              <p class="mt-1 font-brown text-sm text-gray-500">{{ field.help_text }}</p>
            {% endif %}
            {% for error in field.errors %}
              <p class="mt-1 font-brown text-sm text-red-600">{{ error }}</p>
            {% endfor %}
          </div>
        {% endfor %}
        
        <div class="flex justify-center">
          <button type="submit" class="group relative mt-6 w-full flex justify-center py-2 px-3 border border-transparent font-brown rounded-md text-white text-sm tracking-wider sm:text-lg bg-primary shadow-[0px_5px_0px_0px_#c45449] focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-white transition-all duration-950 ease-in-out hover:shadow-none">
            EDIT PRODUCT
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}