{% extends 'base.html' %}

{% block meta %}
<title>Bare Lab</title>
{% endblock meta %}

{% block content %}
<header class="relative w-full h-screen bg-cover bg-center" style="background-image: url('https://www.base.co.id/_next/image?url=https%3A%2F%2Fstorage.googleapis.com%2Fbase-lp-assets%2Foutput.lin.jpg&w=1920&q=100');">
    <div class="absolute inset-0 bg-black opacity-50"></div>
    <div class="flex items-center justify-center h-full relative z-10">
        <div class="text-center text-white px-10 pt-20">
            <h1 class="text-5xl sm:text-6xl font-recoleta mb-4">Empower Your Beauty</h1>
            <p class="text-md sm:text-xl font-brown mb-6">Discover the beauty that lies within you and enhance it with our curated products.</p>
        </div>
    </div>
</header>
{% endblock content %}